.navbar-custom {
            background-color: #4276A4;
        }
        /* Modify brand and text color */
         
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: white;
        }

.col-4 a{
    width: 120px;
    height: 60px;
    border: 2px solid black;
    margin: 10px;
    padding-bottom: 10px;
	
    
}

.col-4 h6{
	text-align: center;
	padding-top: 15px;
}
.row{
	margin: 0 auto;
}
.display-none {
	display: none;
}
input:focus::placeholder {
	color: transparent;
  }
  
.btn-light a.a_red{
	color: #ffffff;
	background-color: red;
}

a.a_red {
	color: #ffffff;
	background-color: red;
	
	text-align: center;
}
a.a_green {
	color: #ffffff;
	background-color: green;
}
a.a_blue {
	color: #ffffff;
	background-color: blue;
}
a.a_purple {
	color: #ffffff;
	background-color: purple;
}
a.a_orange {
	color: #ffffff;
	background-color: orange;
}